$breakpoint-xs: 480px;
$breakpoint-s: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;

$text-black: #000000;
$text-white: #ffffff;
$text-gold: #a18a68;
$text-gray: #707070;

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Allerta Stencil', sans-serif;
